.container {
  display: flex;
  min-height: 100vh;
  width: #fff;
}
.left {
  width: 240px;
  height: 100vh;
  overflow: auto;
}
.left::-webkit-scrollbar {
  width: 2px;
}
.left::-webkit-scrollbar-thumb {
  background-color: rgba(240, 199, 17, .7);
}
.right {
  width: calc(100% - 240px);
  padding: 24px;
}
.title_ctx {
  padding: 8px 16px;
  position: relative;
}
.title {
  font-size: 16px;
  user-select: none;
  font-weight: 600;
  position: sticky;
  top: 8px;
  background-color: #ffffff80;
  backdrop-filter: blur(10px);
  padding: 8px 0;
}
.sub_title {
  padding: 5px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sub_title_actived {
  padding: 5px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: progress;
  color: rgb(240, 199, 17);
  text-decoration: underline;
}
.sub_title:hover {
  cursor: pointer;
  color: rgb(240, 199, 17);
  text-decoration: underline;
  transition: all .35s ease;
}
.ctx {
  height: calc(100% - 100px);
}
.ctx span {
  background-color: lightgreen;
}
.desc {
  background-color: grey;
  padding: 6px;
  color: red;
  font-weight: 600;
  font-size: 18px;
}
.actions {
  padding: 8px 0;
}
.btn {
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  background-color: #1890ff;
  color: #fff;
}
.btn:hover, .btn:focus {
  cursor: pointer;
  background-color: #1890ff90;
}