.container {
  color: #fff;
}
.container .title {
  background-color: rgba(0,0,0,.2);
  padding: 10px 25px;
}
.container .title::before {
  content: '关于我';
  line-height: 24px;
}
.card {
  margin: 20px 0;
  box-sizing: border-box;
  border-right: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.card .card-title {
  position: relative;
  width: 100%;
  text-align: center;
}
.card .card-title::before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: rgba(255,255,255,.1);
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: scaleY(.5);
}
.card-title .card-title-text {
  /* font-size: ; */
  padding: 5px 15px;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 10px;
  line-height: 1.25;
  display: inline-block;
  z-index: 9;
}
.card .content {
  padding: 10px;
}
.content .item {
  display: block;
  padding: 8px 6px;
}
.intro {
  padding: 16px;
}
.pic-content {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.pic_list_avatar {
  border-radius: 16px;
  overflow: hidden;
}
.pic_list_name {
  font-size: 12px;
  text-align: center;
}
.pic_list:hover {
  cursor: pointer;
}